.calendar-card {
  background: #fff;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  margin: 10px 0px;
}

@media (max-width: 768px) {
  .calendar-card {
    padding: 10px;
    margin: 10px 0;
  }
}
