.calendar-card {
  background: var(--card-bg);
  border-radius: var(--radius-lg);
  padding: 24px;
  box-shadow: var(--shadow-sm);
  margin: 10px 0px;
  border: 1px solid rgba(0,0,0,0.02);
}

@media (max-width: 768px) {
  .calendar-card {
    padding: 10px;
    margin: 10px 0;
  }
}
