.simple-button {
  padding: 4px 12px;
  border: none;
  border-radius: 5px;
  color: #f3f4f6;
  margin: 0px 8px;
  transition: all 0.2s ease-in-out;
}

.simple-button:active {
  transform: scale(0.95);
}

.simple-button:hover {
  cursor: pointer;
}

.add-task-btn {
  background: #1e1e2f;
}

.add-task-btn:hover {
  background: #2b2b45;
}

.delete-task-btn {
  background-color: red;
}

.task-input {
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  padding: 8px 12px;
  margin-bottom: 12px;
}

.tasks-list {
  list-style: none;
  margin: 0px 8px 0px 0px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
  display: inline-flex;
  font-size: 26px;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

/* hide empty trash by default */
.trash-icon.empty {
  display: none;
}

/* on hover → swap icons */
.delete-icon:hover .trash-icon.full {
  display: none;
}

.delete-icon:hover .trash-icon.empty {
  display: inline-block;
  scale: 1.1;
}

.completed-task {
  text-decoration: line-through;
  color: gray;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.task-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.4);
  background: transparent;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.2s ease;
}

/* Hover effect */
.task-circle:hover {
  border-color: #0d6efd; /* bootstrap primary blue */
  background: rgba(13, 110, 253, 0.15);
}

/* Completed state */
.task-circle.completed {
  background: #0d6efd;
  border-color: #0d6efd;
  position: relative;
}

/* Check mark */
.task-circle.completed::after {
  content: "✓";
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

